html {
    position: relative;
    width: 100%;
    height: 100%;  
    background: linear-gradient(180deg, #5DD39E 0%, rgba(255, 255, 255, 0) 100%), #348AA7;
}
#spell {
    position: absolute;
    width: 638px;
    height: 125px;
    left: 254px;
    top: 104px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 91px;
    text-align: center;
    color: #513B56;
}
#triangle {
    position: absolute;
    width: 202px;
    height: 125px;
    left: 1010px;
    top: 67px;
}
#rect {
    position: absolute;
    width: 202px;
    height: 125px;
    left: 984px;
    top: 84px;
    background: #BCE784;
    border: 1px solid #000000;
    box-sizing: border-box;
}
#exsent {
    position: absolute;
    width: 244px;
    height: 64px;
    left: 183px;
    top: 229px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #513B56;    
}
#random {
    position: absolute;
    width: 802px;
    height: 64px;
    left: 456px;
    top: 229px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #513B56;
}
#enterword {
    position: absolute;
    width: 341px;
    height: 37px;
    left: 556px;
    top: 325px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #513B56;
}
#empty {
    position: absolute;
    width: 399px;
    height: 91px;
    left: 520px;
    top: 379px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 91px;
    text-align: center;
    color: #513B56;
    background: #BCE784;
    border: 1px solid #000000;
    box-sizing: border-box;
}
#p1 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 110px;
    top: 540px;
}
#p2 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 110px;
    top: 644px;
}
#p3 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 110px;
    top: 750px;
}
#p4 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 110px;
    top: 854px;
}
#p5 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 801px;
    top: 540px;
}
#p6 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 801px;
    top: 644px;
}
#p7 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 801px;
    top: 750px;
}
#p8 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 801px;
    top: 854px;
}
#s1 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 548px;
    top: 540px;
}
#s2 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 548px;
    top: 644px;
}
#s3 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 548px;
    top: 750px;
}
#s4 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 548px;
    top: 856px;    
}
#s5 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 1239px;
    top: 540px;
}
#s6 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 1239px;
    top: 644px;
}
#s7 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 1239px;
    top: 750px;
}
#s8 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 1239px;
    top: 856px;
}

.player {
    background: #DEF1C6;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
}
.score {
    background: #DEF1C6;
    border: 1px solid #000000;
    box-sizing: border-box;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 73px;
    text-align: center;

    color: #000000;
}